@model UP_Mobile.Models.Utilizador

@{
    ViewData["Title"] = "Criar Utilizador";
}


<main id="main">
    <section>
        <div class="container">

            <h1>Criar um Utilizador</h1>

            <div class="card border border-info mb-4" style="background-color: #e3f2fd;">
                <div class="card-body">
                    <div class="col-md">
                        <form asp-action="CreateOperador">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="DataNascimento" class="control-label"></label>
                                    <input asp-for="DataNascimento" class="form-control" />
                                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Morada" class="control-label"></label>
                                    <input asp-for="Morada" class="form-control" />
                                    <span asp-validation-for="Morada" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="Contacto" class="control-label"></label>
                                    <input asp-for="Contacto" class="form-control" />
                                    <span asp-validation-for="Contacto" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="NContribuinte" class="control-label"></label>
                                    <input asp-for="NContribuinte" class="form-control" />
                                    <span asp-validation-for="NContribuinte" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="NIdentificacao" class="control-label"></label>
                                    <input asp-for="NIdentificacao" class="form-control" />
                                    <span asp-validation-for="NIdentificacao" class="text-danger"></span>
                                </div>
                            </div>
                            <h1></h1>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn border" style="background-color: #55ecc3;" /> |
                                <a asp-action="IndexOperador" type="button" class="btn border" style="background-color: #55ecc3;">Cancelar e Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </div>
    </section>
</main>