@model UP_Mobile.Models.Utilizador

@{
    ViewData["Title"] = "Editar";
}

<main id="main">
    <section>
        <div class="container">
            @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
            {
                <h1>Editar dados</h1>

                <div class="card2 mb-4" >
                    <div class="card2-body">
                        <div class="col-md">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdUtilizador" />
                                <div class="form-group justify-content-between">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control formcontrolc3" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="DataNascimento" class="control-label"></label>
                                        <input asp-for="DataNascimento" class="form-control formcontrolc3" />
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                    </div>
                                    @*<div class="col">
                                        <input type="hidden" asp-for="DataCriacao" class="form-control formcontrolc3" />
                                        <span asp-validation-for="DataCriacao" class="text-danger"></span>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Morada" class="control-label"></label>
                                        <input asp-for="Morada" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Morada" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        Distrito
                                        <select asp-for="IdDistrito" class="form-control formcontrolc3" asp-items="ViewBag.IdDistrito"></select>
                                        <span asp-validation-for="IdDistrito" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Contacto" class="control-label"></label>
                                        <input asp-for="Contacto" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Contacto" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="NContribuinte" class="control-label"></label>
                                        <input asp-for="NContribuinte" readonly class="form-control formcontrolc3" />
                                        <span asp-validation-for="NContribuinte" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="NIdentificacao" class="control-label"></label>
                                        <input asp-for="NIdentificacao" readonly class="form-control formcontrolc3" />
                                        <span asp-validation-for="NIdentificacao" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                                    </label>
                                </div>

                                @*<div class="form-group">
                                        <label asp-for="LocalTrabalho" class="control-label"></label>
                                        <input asp-for="LocalTrabalho" class="form-control" />
                                        <span asp-validation-for="LocalTrabalho" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <div style="display:none">
                                        @*<label asp-for="IdRole" class="control-label"></label>*@
                                        <select id="ocultar" asp-for="IdRole" class="form-control" asp-items="ViewBag.IdRole"></select>
                                        @*<span asp-validation-for="IdRole" class="text-danger"></span>*@
                                    </div>
                                </div>

                                <h1></h1>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btnsearch" /> 
                                    <a onclick="history.go(-1)" class="btn btnsearch" >Cancelar e Voltar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("Cliente"))
            {
                <h1>Editar Dados Pessoais</h1>

                <div class="card2 mb-4">
                    <div class="card2-body">
                        <div class="col-md">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdUtilizador" />
                                <div class="form-group justify-content-between">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control formcontrolc3" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <label asp-for="Morada" class="control-label"></label>
                                        <input asp-for="Morada" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Morada" class="text-danger"></span>
                                    </div>
                                    @*<div class="col">
                                        <input type="hidden" asp-for="DataCriacao" class="form-control formcontrolc3" />
                                        <span asp-validation-for="DataCriacao" class="text-danger"></span>
                                    </div>
                                </div>*@
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <label asp-for="DataNascimento" class="control-label"></label>
                                        <input asp-for="DataNascimento" class="form-control formcontrolc3" />
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        Distrito
                                        <select asp-for="IdDistrito" class="form-control formcontrolc3" asp-items="ViewBag.IdDistrito"></select>
                                        <span asp-validation-for="IdDistrito" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <label asp-for="Contacto" class="control-label"></label>
                                        <input asp-for="Contacto" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Contacto" class="text-danger"></span>
                                    </div>
                                    @*<div class="col">

                                        <input type="hidden" asp-for="Contacto" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Contacto" class="text-danger"></span>
                                    </div>*@
                                    <div class="col">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control formcontrolc3" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <label asp-for="NContribuinte" class="control-label"></label>
                                        <input asp-for="NContribuinte" readonly class="form-control formcontrolc3" />
                                        <span asp-validation-for="NContribuinte" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="NIdentificacao" class="control-label"></label>
                                        <input asp-for="NIdentificacao" readonly class="form-control formcontrolc3" />
                                        <span asp-validation-for="NIdentificacao" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="display:none">
                                        @*<label asp-for="IdRole" class="control-label"></label>*@
                                        <select id="ocultar" asp-for="IdRole" class="form-control" asp-items="ViewBag.IdRole"></select>
                                        @*<span asp-validation-for="IdRole" class="text-danger"></span>*@
                                    </div>
                                </div>

                                <h1></h1>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btnsearch" /> 
                                    <a asp-action="DetailsPessoaisCliente" type="button" class="btn btnsearch" >Cancelar e Voltar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</main>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
