@model UP_Mobile.Models.PacoteComercial

@{
    ViewData["Title"] = "Editar Pacote Comercial";
}

<main id="main">
    <section>
        <div class="container">

            <h2>Editar</h2>

            <h4 class="mb-4">Pacote Comercial <b>@Html.DisplayFor(model => model.Nome)</b></h4>

            <div class="card border border-info mb-4" style="background-color: #e3f2fd;">
                <div class="card-body">
                    <div class="col-md">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdPacote" />
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <input asp-for="Descricao" class="form-control" />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="DataInicioComercializacao" class="control-label"></label>
                                    <input asp-for="DataInicioComercializacao" class="form-control" />
                                    <span asp-validation-for="DataInicioComercializacao" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="DataFimComercializacao" class="control-label"></label>
                                    <input asp-for="DataFimComercializacao" class="form-control" />
                                    <span asp-validation-for="DataFimComercializacao" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoBase" class="control-label"></label>
                                <input asp-for="PrecoBase" class="form-control" />
                                <span asp-validation-for="PrecoBase" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PeriodoFidelizacao" class="control-label"></label>
                                <input asp-for="PeriodoFidelizacao" class="form-control" />
                                <span asp-validation-for="PeriodoFidelizacao" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                                </label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="Internet" class="control-label"></label>
                                    <input asp-for="Internet" class="form-control" />
                                    <span asp-validation-for="Internet" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Voz" class="control-label"></label>
                                    <input asp-for="Voz" class="form-control" />
                                    <span asp-validation-for="Voz" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="Tv" class="control-label"></label>
                                    <input asp-for="Tv" class="form-control" />
                                    <span asp-validation-for="Tv" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Movel" class="control-label"></label>
                                    <input asp-for="Movel" class="form-control" />
                                    <span asp-validation-for="Movel" class="text-danger"></span>
                                </div>
                            </div>

                            <h1></h1>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn border" style="background-color: #55ecc3;" /> |
                                <a asp-action="Index" ctype="button" class="btn border" style="background-color: #55ecc3;">Cancelar e Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
