@model ListaPacotesComerciaisViewModel

@{
    ViewData["Title"] = "";
}

<main id="main">
    <section>
        <div class="container">

            <h1 class="text-center" style="color:#4fd6d9">Pacotes Comerciais</h1>


            @*COMEÇA AQUI*@

            
                        


                    </div>
            </section>
</main>