/*--------------------------------------------------------------
# Top Bar - Class: Topba
--------------------------------------------------------------*/

#topbar {
    background: #55ecc3;
    font-size: 15px;
    height: 40px;
    padding: 0;
    color: #3a3a3a;
}

    #topbar .contact-info a {
        line-height: 0;
        color: #3a3a3a;
        transition: 0.3s;
    }

        #topbar .contact-info a:hover {
            color: #55ecc3; /*#fff*/
        }

    #topbar .contact-info i {
        color: #3a3a3a; /*#80f2f3 talvez seja para pôr #4fd6d9*/
        line-height: 0;
        margin-right: 5px;
    }

    #topbar .contact-info .phone-icon {
        margin-left: 15px;
    }

    #topbar .social-links a {
        color: #3a3a3a;
        padding: 4px 12px;
        display: inline-block;
        line-height: 1px;
        transition: 0.3s;
    }

        #topbar .social-links a:hover {
            color: #ffffff;
        }


/*.fa-user {
    font-size: 18px;
}

.fa-twitter:hover {
    color: #ffd800;
}*/

/*--------------------------------------------------------------
# Navigation Menu -  Class: Navba
--------------------------------------------------------------*/


.navba {
    padding: 0;
}

    .navba ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navba li {
        position: relative;
    }

    .navba > ul > li {
        margin-left: 5px;
    }

    .navba a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 15px 24px 15px;
        font-size: 14px;
        color: #191919;
        white-space: nowrap;
        transition: 0.3s;
    }

        .navba a i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navba a:hover, .navba .active, .navba li:hover > a {
            background: #4fd6d9;
        }

    .navba .dropdown ul {
        display: block;
        position: absolute;
        left: 0;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }

        .navba .dropdown ul li {
            min-width: 200px;
        }

        .navba .dropdown ul a {
            padding: 10px 20px;
            color: #191919;
        }

            .navba .dropdown ul a i {
                font-size: 12px;
            }

            .navba .dropdown ul a:hover, .navba .dropdown ul .active:hover, .navba .dropdown ul li:hover > a {
                color: #fff;
            }

    .navba .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navba .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navba .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

@media (max-width: 1366px) {
    .navba .dropdown .dropdown ul {
        left: -90%;
    }

    .navba .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}


/*--------------------------------------------------------------
# Header - ID: Heade
--------------------------------------------------------------*/

#header {
    background: #ffffff;
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
}

    #header .fixed-top {
        background: #ffffff;
    }

    #header .logo {
        font-size: 30px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

        #header .logo a {
            color: #e82d2d;
        }

        #header .logo img {
            max-height: 100px;
        }

.scrolled-offset {
    margin-top: 70px;
}

/*.table {
    background-color: #55ecc3 !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #55ecc3;
    color: #55ecc3 !important;
}

.table-hover tbody tr:hover td {
    background: aqua;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: #D1D119;
}

table.table-hover tbody tr td:hover {
    background-color: #55ecc3;
}*/
/*--------------------------------------------------------------
# Header - ID: Pesquisa
--------------------------------------------------------------*/

/*.Pesquisa {
    background-color: #80F2F1;
}*/