@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <link href="~/js/site.js" rel="stylesheet">
</body>
</html>
