@{
    ViewData["Title"] = "DreamTeam Web Develop";
}

<!-- ======= Team Section ======= -->

<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <span>UPmobile Development Team</span>
            <h2>UPmobile Development Team</h2>
            @*<p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/Nuno.jpg" alt="" style="width:300px; height:200px">
                    <h4>Nuno Aniceto</h4>
                    <span>.NET Developer</span>
                    <p>
                        Com vários anos de experiências em IT e mais recentemente com especialização em .NET
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/Luis.jpg" alt="">
                    <h4>Luís Bernardo</h4>
                    <span>.NET Developer and Marketing</span>
                    <p>
                        Sem dúvida o MasterMind por de trás da UPmobile. Homem de profundos conhecimentos e sabedoria
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/Nicolau.jpg" alt="">
                    <h4>Nicolau Barranha</h4>
                    <span>.NET Devepover</span>
                    <p>
                        Veio de França muito novo para cedo aprender a arte da programação e do bem falar Português
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/jv.jpg" alt="">
                    <h4>João Vieira</h4>
                    <span>.NET Developer</span>
                    <p>
                        Natural de Manteigas, desde cedo aprendeu que o seu futuro não passava pelo desporto nem pela culinária
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section><!-- End Team Section -->