@model UP_Mobile.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cliente Nº @Html.DisplayFor(model => model.IdCliente)</h4> 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCliente" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Morada" class="control-label"></label>
                <input asp-for="Morada" class="form-control" />
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacto" class="control-label"></label>
                <input asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NContribuinte" class="control-label"></label>
                <input asp-for="NContribuinte" class="form-control" />
                <span asp-validation-for="NContribuinte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIdentificacao" class="control-label"></label>
                <input asp-for="NIdentificacao" class="form-control" />
                <span asp-validation-for="NIdentificacao" class="text-danger"></span>
            </div>
            <h1></h1>
            <div class="form-group">
                <input type="submit" value="Guardar Alterações" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Cancelar e Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
