@model Cliente

@{
    ViewData["Title"] = "Cliente eliminado";
}

<div class="card text-white bg-danger mb-3">
    <div class="card-body">
        <h5 class="card-title">Atenção</h5>
        <p class="card-text">O Cliente que estava a editar foi eliminado.</p>
    </div>
</div>

<h1>Adicionar novamente o Cliente?</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Morada" class="control-label"></label>
                    <input asp-for="Morada" class="form-control" />
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="Contacto" class="control-label"></label>
                    <input asp-for="Contacto" class="form-control" />
                    <span asp-validation-for="Contacto" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="NContribuinte" class="control-label"></label>
                    <input asp-for="NContribuinte" class="form-control" />
                    <span asp-validation-for="NContribuinte" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="NIdentificacao" class="control-label"></label>
                    <input asp-for="NIdentificacao" class="form-control" />
                    <span asp-validation-for="NIdentificacao" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Descartar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
