@model UP_Mobile.Models.PacoteComercialPromocao

@{
    ViewData["Title"] = "Editar Pacote Comercial Promoção";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Editar</h1>

            <h4>Pacote Comercial Promoção</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdPacoteComercialPromocao" />
                        <div class="form-group">
                            <label asp-for="IdPromocao" class="control-label"></label>
                            <select asp-for="IdPromocao" class="form-control" asp-items="ViewBag.IdPromocao"></select>
                            <span asp-validation-for="IdPromocao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdPacote" class="control-label"></label>
                            <select asp-for="IdPacote" class="form-control" asp-items="ViewBag.IdPacote"></select>
                            <span asp-validation-for="IdPacote" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="IdDistrito" class="control-label"></label>*@
                            <select asp-for="IdDistrito" class="form-control" asp-items="ViewBag.IdDistrito" style="visibility:hidden;"></select>
                            <span asp-validation-for="IdDistrito" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn border" style="background-color: #55ecc3" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Voltar</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </div>
    </section>
</main>