@model UP_Mobile.Models.FaturacaoViewModel

@{
    ViewData["Title"] = "Gerar Faturas";
}
<main>
    <section>
        <div class="container">


            <h1>Gerar Faturas</h1>

            <div class="card border border-info mb-4" style="background-color: #e3f2fd;">
                <div class="card-body">
                    <div class="col-md">
                        <form asp-action="CriarFaturas">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Data" class="control-label"></label>
                                <input asp-for="Data" class="form-control" />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Gerar" class="btn border" style="background-color: #55ecc3;" />
                                <a asp-action="Index" class="btn border" style="background-color: #55ecc3;">Cancelar e Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </section>
</main>
