@{
    ViewData["Title"] = "Oferta Comercial";
}
<!-- Favicons -->
<link href="~/Content/assets/img/favicon.png" rel="icon">
<link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="~/Content/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/Content/assets/css/style.css" rel="stylesheet">

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <span>Pricing</span>
            <h2>Pricing</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Home</h3>
                    <h4><sup>€</sup>49,99<span> / mês</span></h4>
                    <ul>
                        <li>TV - 100 canais</li>
                        <li>NET - 100 MB
                        <li>
                        <li>VOZ - Chamadas ilimitadas rede fixa nacional e internacional (21h-09h)</li>
                        <li>MÓVEL - 5000 min. rede móvel nacional + 2GB dados móveis </li>

                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Adira já</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                <div class="box featured">
                    <h3>Home Professional</h3>
                    <h4><sup>€</sup>54,99<span> / mês</span></h4>
                    <ul>
                        <li>TV - 130 canais</li>
                        <li>NET - 200 MB

                        <li>VOZ - Chamadas ilimitadas rede fixa nacional e internacional (21h-09h)</li>
                        <li>MÓVEL - 5000 min. rede móvel nacional + 2GB dados móveis </li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Family</h3>
                    <h4><sup>$</sup>29<span> / month</span></h4>
                    <ul>
                        <li>TV - 130 canais</li>
                        <li>NET - 200 MB

                        <li>VOZ - Chamadas ilimitadas rede fixa nacional e internacional (21h-09h)</li>
                        <li>MÓVEL - 2 cartões (5000 min. rede móvel nacional + 2GB dados móveis) </li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <span>Pricing</span>
            <h2>Pricing</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Free</h3>
                    <h4><sup>$</sup>0<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li class="na">Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                <div class="box featured">
                    <h3>Business</h3>
                    <h4><sup>$</sup>19<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Developer</h3>
                    <h4><sup>$</sup>29<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->
<!-- Vendor JS Files -->
<script src="~/Content/assets/vendor/aos/aos.js"></script>
<script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
<script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="~/Content/assets/js/main.js"></script>