@{
    ViewData["Title"] = "Home";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Alguém disse UP?</h1>
        <h2>Quem é UPmobile não precisa de mais nada</h2>
        <a href="#about" class="btn-get-started scrollto">Aderir</a>
    </div>
</section>

<main id="main">
    <section>
        <div class="container">

            @*TODO O CONTEÚDO VEM PARA AQUI*@

        </div>
    </section>
</main>