<!-- ======= Hero Section ======= -->
<section id="hero1" class="d-flex align-items-center">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>UP - 5G </h1>
        <h2>Tecnologia de última geração em toda a casa</h2>
        <a class="btn-get-started scrollto">Sabe mais</a>
    </div>
</section>





<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="~/Content/assets/img/astro.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="font-italic">
                    Chegou a rede que ligará milhões de dispositivos com alta performance.
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> Velocidade até 10Gbps</li>
                    <li><i class="icofont-check-circled"></i> Rede inteligente , sem falhas</li>
                    <li><i class="icofont-check-circled"></i> Apps realidade virtual</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->


<section id="ctc" class="ctc">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="cta-btn" href="#">Call To Action</a>
        </div>

    </div>
</section><!-- End Cta Section -->