@{
    ViewData["Title"] = "Home";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Alguém disse UP?</h1>
        <h2>Quem é UPmobile não precisa de mais nada</h2>
        <a href="#about" class="btn-get-started scrollto">Aderir</a>
    </div>
</section>

<main id="main">
    <section>
        <div class="container">
            <br />
            <h2 style="text-align: center">Aproveite os pacotes em promoção</h2>
            <br />
            <br />
            <img src="~/img/img1.jpg" class="img-fluid">
            <br />
            <br />
            <br />
            <br />
            <h2 style="text-align: center">Escolha a sua oferta na adesão à UPmobile</h2>
            <br />
            <br />
            <img src="~/img/img2.jpg" class="img-fluid">
            <br />
            <br />
        </div>
    </section>
</main>