@model IEnumerable<UP_Mobile.Models.Contrato>

@{
    ViewData["Title"] = "UPmobile";
}

<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

@if ((!User.Identity.IsAuthenticated) || (User.IsInRole("Cliente")))
{
    <!-- ======= Hero Section ======= -->

    @*<section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">


                <h1>Alguém disse UP?</h1>
                <h2>Quem é UPmobile não precisa de mais nada</h2>
                <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btn-get-started scrollto">Aderir</a>

        </div>

        </section>*@
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="view">
                    <div class="view1">

                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                            <!-- Content -->
                            <div class="text-center white-text mx-5 wow fadeIn">
                                <h1 class="h1a">
                                    <strong>Alguém disse UP?</strong>
                                </h1>

                                <p class="p1a">
                                    <strong>

                                        Quem é UPmobile não precisa de mais nada!
             </strong>
                                </p>

                                <a target="_blank" asp-controller="PacotesComerciais" asp-action="Index" class="btninfo2">
                                    Aderir
                                    <i class="bx bxs-shopping-bag-alt ml-2"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <div class="view">
                    <div class="view2">

                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                            <!-- Content -->
                            <div class="text-center white-text mx-5 wow fadeIn">
                                <h1 class="h1a">
                                    <strong>UP Mobile - Promoções</strong>
                                </h1>

                        
                                <p class="p1a">
                                    <strong>
                                        As melhores promoções são UP! Conhece já as nossas ofertas de adesão!
                                    </strong>
                                </p>

                                <a  class="btninfo2"  asp-controller="Promocoes" asp-action="Index">
                                    Aderir
                                    <i class="bx bx-gift"></i>
                                </a>
                            </div>
                            <!-- Content -->
                        </div>
                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
                <div class="view">
                    <div class="view3">

                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                            <!-- Content -->
                            <div class="text-center white-text mx-5 wow fadeIn">
                                <h1 class="h1a">
                                    <strong>Trabalhar em casa é UP!</strong>
                                </h1>

                                <p class="p1a">
                                    <strong>A melhor Internet para trabalhar em casa é UPMobile!  </strong>
                                </p>



                                <a class="btninfo2" asp-area="" asp-controller="Home" asp-action="Main" >
                                    Saber Mais
                                    <i class="bx bx-shopping-bag"></i>
                                </a>
                            </div>
                            <!-- Content -->
                        </div>

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Third slide-->

        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->


    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up">
                    <div class="box">
                        <span><i class=" fas fa-euro-sign fa-2x"></i></span>
                        <h4>Melhores Preços</h4>
                        <p>Euros, dolares, francos, escudos, libras...não importa como lhe chamas, porque os preços na UP são Down</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="box">
                        <span><i class="fas fa-broadcast-tower fa-2x"></i></span>
                        <h4>Muita Rede</h4>
                        <p>A qualidade das redes 4G e 5G e Fibra da UP garantem uma fidelidade e estabilidade superior</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <span><i class="fas fa-gift fa-2x"></i></span>
                        <h4> Promoções</h4>
                        <p>Parece que na UP estamos sempre em época de saldos...Ou pelo menos em alguma black friday constante</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= CtHome Section ======= -->
    <!--<section id="cth" class="cth">
        <div class="container" data-aos="zoom-in">

            <div class="text-right">
                <h3>UP-M Videoclube</h3>
                <p>Os melhores filmes e séries disponíveis no UP-M, o videoclube da UPMobile!</p>
                <a class="cth-btn" asp-area="" asp-controller="" asp-action="">Adere já</a>
            </div>

        </div>
    </section>-->

    <section id="cth" class="cth">
        <div class="container" data-aos="zoom-in">

            <div class="text-left">
                <h3>UP Mobile </h3>
                <p> Adere a um pacote UPmobile e tem oferta de Netflix e HBO por 3 meses. <br /> Oferta válida para os Pacotes UP Smile, UP Super, UP Mega, UP Mega C, UP TV e UP Max.</p>
                <a class="cth-btn" asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Adere já</a>
            </div>

        </div>
    </section>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing1" class="pricing1">
        <div class="container">

            <div class="section-title">

                <h2>OS PACOTES MAIS UP</h2>
                <p>A melhor oferta comercial é UPMobile! Aproveita os pacotes mais vantajosos e disfruta do melhor serviço em tua casa. </p><br />
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                    <div class="box">
                        <h2>UP Simples</h2>
                        <h4><sup>€</sup>24<span> / mês</span></h4>
                        <ul>
                            <li><h5><i class="bx bx-wifi"></i>Internet</h5></li>
                            <li>120 Megas</li>
                            <li><h5><i class="bx bx-tv"></i>TV</h5></li>
                            <li>90 canais</li>
                            <li><h5><i class="bx bx-phone"></i>Voz</h5></li>
                            <li>Chamadas ilimitadas</li>
                            @*<li class="na"><i class="bx bx-mobile"></i><h5>Móvel</h5></li>*@
                        </ul>
                        <div class="btn-wrap">
                            <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btn-buy" data-toggle="modal" data-target="#ExemploModalCentralizado">Aderir</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                    <div class="box featured">
                        <h2>UP Super</h2>
                        <h4><sup>€</sup>34<span> / mês</span></h4>
                        <ul>
                            <li><h5><i class="bx bx-wifi"></i>Internet</h5></li>
                            <li>120 Megas</li>
                            <li><h5><i class="bx bx-tv"></i>TV</h5></li>
                            <li>90 canais</li>
                            <li><h5><i class="bx bx-phone"></i>Voz</h5></li>
                            <li>Chamadas ilimitadas</li>
                            <li><h5><i class="bx bx-mobile"></i>Móvel</h5></li>
                            <li>2 GB + 1000 Min/SMS</li>
                        </ul>
                        <div class="btn-wrap">
                            <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btn-buy" data-toggle="modal" data-target="#ExemploModalCentralizado">Aderir</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <div class="box">
                        <h2>UP Mega</h2>
                        <h4><sup>€</sup>44<span> / mês</span></h4>
                        <ul>
                            <li><h5><i class="bx bx-wifi"></i>Internet</h5></li>
                            <li>250 Megas</li>
                            <li><h5><i class="bx bx-tv"></i>TV</h5></li>
                            <li>140 canais</li>
                            <li><h5><i class="bx bx-phone"></i>Voz</h5></li>
                            <li>Chamadas ilimitadas</li>
                            <li><h5><i class="bx bx-mobile"></i>Móvel</h5></li>
                            <li>4 GB + 2000 Min/SMS</li>
                        </ul>
                        <div class="btn-wrap">
                            <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btn-buy" data-toggle="modal" data-target="#ExemploModalCentralizado">Aderir</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">
            <h3>Os canais mais UP</h3><br />
            <div class="row d-flex align-items-center">

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/img/sportv.png" class="img-fluid" alt="SportTV">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/img/dogtvv.png" class="img-fluid" alt="DogTV">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/img/BTV.png" class="img-fluid" alt="BenficaTV">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/img/startv.png" class="img-fluid" alt="StarTV">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/img/cine.png" class="img-fluid" alt="TVCine">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="~/img/playboytv.png" class="img-fluid" alt="PLayboyTV">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">

                <h2>UP Extras</h2>
                <p>Dá um UP ao teu pacote para que te não falte nada</p><br />
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-futbol fa-2x"></i></div>
                        <h4><a asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Canais Desportivos</a></h4>
                        <p>Aficionado em desporto? Então este é o nosso extra ideal para ti</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pepper-hot fa-2x"></i></div>
                        <h4><a asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Canais para Adultos</a></h4>
                        <p>O pack adultos é composto por 4 canais premium, para todos os gostos</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-tachometer-alt fa-2x"></i></div>
                        <h4><a asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Mais Dados Móveis</a></h4>
                        <p>O aditivo perfeito para que nunca te falte a internet onde quer que estejas</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-globe fa-2x"></i></div>
                        <h4><a asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Canais Internacionais</a></h4>
                        <p>Vários canais internacionais disponíveis para subscrição</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-play-circle fa-2x"></i></div>
                        <h4><a asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Video On Demand</a></h4>
                        <p>Temos sempre a lista de filmes atualizada para que não percas nenhum</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-landmark fa-2x"></i></div>
                        <h4><a asp-area="" asp-controller="ConteudosExtras" asp-action="Index">Documentários</a></h4>
                        <p>Porque o saber não ocupa lugar, descobre os melhores canais de documentários</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
}

@if (User.IsInRole("Operador"))
{

    <main id="main">
        <section>
            <div class="container">
                <section id="why-us" class="why-us">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">

                                    <h3 class="card-header" style="background-color:#55ECC3">Pacotes Comerciais</h3>
                                    <div class="card-body">
                                        <p class="card-text">Ver lista dos pacotes comerciais disponíveis</p>
                                        <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>

                        <div class="col-lg-4 mt-4 mt-lg-0">
                                <div class="card">
                                    <h3 class="card-header">Promoções</h3>
                                    <div class="card-body">
                                        <p class="card-text">Ver lista das promoções disponíveis</p>
                                        <a asp-area="" asp-controller="Promocoes" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>

                        <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                            <div class="card">
                                <h3 class="card-header">Pacote Comercial / Promoção</h3>
                                <div class="card-body">
                                    <p class="card-text">Adicionar Promoção a Pacote Comercial</p>
                                    <a asp-area="" asp-controller="PacotesComerciaisPromocao" asp-action="Index" class="btninfo1">Consultar</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card">
                                    <h3 class="card-header">Conteúdos Extra</h3>
                                    <div class="card-body">
                                        <p class="card-text">Ver lista dos conteúdos extra disponíveis</p>
                                        <a asp-area="" asp-controller="ConteudosExtras" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0">
                                <div class="card">
                                    <h3 class="card-header">Clientes</h3>
                                    <div class="card-body">
                                        <p class="card-text">Aceder aos clientes</p>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="IndexCliente" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0">
                                <div class="card">
                                    <h3 class="card-header">Operadores</h3>
                                    <div class="card-body">
                                        <p class="card-text">Informações dos operadores</p>
                                        <a asp-area="" asp-controller="Contratos" asp-action="Top10Operador" class="btninfo1">Top 10</a>
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-4 mt-4 mt-lg-0">
                            <div class="card">
                                <h3 class="card-header">Reclamações</h3>
                                <div class="card-body">
                                    <p class="card-text">Informações sobre as Reclamações</p>
                                    <a asp-controller="Reclamacoes" asp-action="EmAberto" class="btninfo1"> Reclamações em aberto</a>
                                    <a asp-controller="Reclamacoes" asp-action="EmTratamento" class="btninfo1"> Reclamações em tratamento</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>

            <div class="row">
                <div class="col-lg-12 mt-4 mt-lg-0">
                    <div class="card">
                        <h3 class="card-header">Os seus Números</h3>
                        <div class="card-body">
                            <p class="card-text">Número de contratos efectuados: @ViewBag.contacontratos</p>
                            <p class="card-text">Total Faturado: @ViewBag.totalfaturacao €</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</main>

}

@if (User.IsInRole("Administrador"))
{
    <main id="main">
        <section>
            <div class="container">
                <section id="why-us" class="why-us">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card1">
                                    <h3 class="card-header">Pacotes Comerciais</h3>
                                    <div class="card-body">
                                        <p class="card-text">Ver lista dos pacotes comerciais disponíveis</p>
                                        <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mt-4 mt-lg-0">
                                <div class="card1">
                                    <h3 class="card-header">Promoções</h3>
                                    <div class="card-body">
                                        <p class="card-text">Ver lista das promoções disponíveis</p>
                                        <a asp-area="" asp-controller="Promocoes" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card1">
                                    <h3 class="card-header">Pacote Comercial / Promoção</h3>
                                    <div class="card-body">
                                        <p class="card-text">Adicionar Promoção a Pacote Comercial</p>
                                        <a asp-area="" asp-controller="PacotesComerciaisPromocao" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card1">
                                    <h3 class="card-header">Conteúdos Extra</h3>
                                    <div class="card-body">
                                        <p class="card-text">Ver lista dos conteúdos extra disponíveis</p>
                                        <a asp-area="" asp-controller="ConteudosExtras" asp-action="Index" class="btninfo1">Consultar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card1">
                                    <h3 class="card-header">Clientes</h3>
                                    <div class="card-body">
                                        <p class="card-text">Aceder aos clientes</p>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="CreateCliente" class="btninfo1">Criar Novo</a>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="IndexCliente" class="btninfo1">Ver Todos</a>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="PesquisaClienteDistrito" class="btninfo1">Ver por Distrito</a>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="ClienteDistritoMaisAntigo" class="btninfo1">Mais Antigos por Distrito</a>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="ClienteMaisAntigo" class="btninfo1">Mais Antigos</a>
                                        <a asp-area="" asp-controller="Contratos" asp-action="Top10Cliente" class="btninfo1">Top 10 por distrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card1">
                                    <h3 class="card-header">Operadores</h3>
                                    <div class="card-body">
                                        <p class="card-text">Aceder aos operadores</p>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="IndexOperador" class="btninfo1">Ver Todos</a>
                                        <a asp-area="" asp-controller="Utilizadores" asp-action="PesquisaOperadorDistrito" class="btninfo1">Ver por Distrito</a>
                                        <a asp-area="" asp-controller="Contratos" asp-action="Top10Operador" class="btninfo1">Top 10</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card1">
                                    <h3 class="card-header">Reclamações</h3>
                                    <div class="card-body">
                                        <p class="card-text">Informações sobre as Reclamações</p>
                                        <a asp-controller="Reclamacoes" asp-action="Estatisticas" class="btninfo1">Estatísticas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-4 mt-lg-0 mb-5">
                                <div class="card1">
                                    <h3 class="card-header">Faturação</h3>
                                    <div class="card-body">
                                        <p class="card-text" >Informações sobre Faturação</p>
                                        <a asp-controller="Faturas" asp-action="CriarFaturas" class="btninfo1">Gerar Faturas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
}

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            
                <h3 class="modal-title text-center" id="TituloModalCentralizado"><b>Conheça as ofertas que temos para si. Adira já!</b></h3>
                <button type="button" class="modalbtn" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><i class="bi bi-telephone-outbound-fill"></i>   Ligamos-lhe grátis</p>
                <p><i class="bi bi-clock-fill"></i>   Disponível entre as 8h e as 22h</p>

            </div>
            <div class="modal-footer ">
                <input class="form-control formcontrolc2" type="text" placeholder="Contacto">
                <button type="button" class="btn btninfo2 border"  data-dismiss="modal" data-toggle="modal" data-target="#ExemploModalCentralizado2">Liguem-me</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="TituloModalCentralizado"><b>Obrigado pela sua confiança</b></h3>
                <button type="button" class="modalbtn" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><i class="bi bi-telephone-outbound-fill"></i>   Será contactado num intervalo de 10 min</p>
            </div>
            <div class="modal-footer">
                <p class="modal-title mr-3 text-center" id="TituloModalCentralizado"><b>Até ja</b></p>
            </div>
        </div>
    </div>
</div>