<!-- ======= Hero Section ======= -->
<section id="hero1" class="d-flex align-items-center">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>UP - 5G </h1>
        <h2>Tecnologia de última geração em toda a casa</h2>
        <a class="btn-get-started scrollto">Sabe mais</a>
    </div>
</section>





<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="~/Content/assets/img/astro.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>O que é o 5G?</h3>
                <p class="font-italic">
                    Chegou a rede que ligará milhões de dispositivos com alta performance.
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> Velocidade até 10Gbps</li>
                    <li><i class="icofont-check-circled"></i> Latência de 1 milissegundo</li>
                    <li><i class="icofont-check-circled"></i> 100% Cobertura</li>
                    <li><i class="icofont-check-circled"></i> Melhor desempenho de rede, mais de 100 dispositivos p/ unidade de área</li>
                </ul>
                <p>
                    O 5G trata-se de uma evolução da rede móvel 4G, é a 5ª geração de redes de comunicações móveis,
                    nomeadamente televisão, telemóvel, internet e rede móvel.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3>Alguém disse UP?</h3>
            <p> Quem é UPmobile não precisa de mais nada</p>
            <a class="cta-btn" href="#">Aderir</a>
        </div>

    </div>
</section><!-- End Cta Section -->

<!-- ======= About Section ======= -->
<section id="about5g" class="about5g">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="~/Content/assets/img/mobilenet.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3> 5G</h3>
                <p class="font-italic">
                    A Era da Internet das Coisas chega com cada vez mais força
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> As apps de realidade virtual vão ser cada vez mais desenvolvidas,</li>
                    <li><i class="icofont-check-circled"></i> Os serviços cloud passarão a ser mais rápidos e intuitivos </li>
                    <li><i class="icofont-check-circled"></i> Será ainda mais fácil trabalhar online</li>

                    <li><i class="icofont-check-circled"></i> As cidades inteligentes vão ser uma realidade </li>



                </ul>
                <p>
                    O 5G permitirá a implementação e o desenvolvimento da Internet das Coisas, haverá inúmeras possibilidades, cada vez mais inteligentes e conectadas, para residências, ruas, hospitais, comércios e indústrias.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= About Section ======= -->
<section id="about2" class="about2">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="~/Content/assets/img/5g.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Vantagens 5G</h3>
                <p class="font-italic">
                    O 5G torna possível que tenhamos
                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> Acesso a uma rede muito mais rápida</li>
                    <li><i class="icofont-check-circled"></i> Maior capacidade de transmissão de dados</li>
                    <li><i class="icofont-check-circled"></i> Consumo de energia muito inferior do que com a rede 4G</li>
                    <li><i class="icofont-check-circled"></i> Uma experiência em tempo real sem desvios nem atrasos</li>
                </ul>
                <p>

                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->