<!-- ======= Hero Section ======= -->
<section id="hero1" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>5G - O futuro é UPmobile</h1>
        <h2>Tecnologia de última geração em toda a casa</h2>
        <a href="#about" class="btn-get-started scrollto">Sabe Mais</a>
    </div>
</section><!-- End Hero -->
<!--
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3>UP - 5G</h3>
            <p>Tecnologia de última geração em toda a casa</p>
            <a class="cta-btn" href="#">Sabe Mais</a>
        </div>

    </div>
</section>-->
<main id="main">
    <!-- ======= Steps Section ======= -->
    <section id="steps" class="steps section-bg">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                    <span><i class="bx bx-tachometer"></i></span>
                    <h4>Acesso a uma rede muito mais rápida</h4>
                    <p> </p>
                </div>

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="100">
                    <span><i class="bx bx-import"></i></span>
                    <h4>Maior capacidade de transmissão de dados</h4>
                    <p></p>
                </div>

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
                    <span><i class="bx bx-infinite"></i></span>
                    <h4> Uma experiência em tempo real sem desvios, nem atrasos</h4>
                    <p></p>
                </div>

            </div>

        </div>
    </section><!-- End Steps Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                    <img src="~/Content/assets/img/astro.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                    <h3 data-aos="fade-up">O que é o 5G?</h3>
                    <p data-aos="fade-up">
                        Chegou a rede que ligará milhões de dispositivos com alta performance.
                    </p>
                    <div class="icon-box" data-aos="fade-up">
                        <i class="bx bx-happy-heart-eyes"></i>
                        <h4> Velocidade até 10Gbps</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-happy-beaming"></i>
                        <h4>Latência de 1 milissegundo</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-happy-alt"></i>
                        <h4>100% Cobertura</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Cta Section ======= -->
    <section id="ct1" class="ct1">
        <div class="container" data-aos="zoom-in">

            <div class="text-right">
                <h3>Speed UP</h3>
                <p>Pacote UPSpeed - Velocidade 200Mbps</p>
                <a class="ct1-btn" href="#">Aderir</a>
            </div>

        </div>
    </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">

                <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                    <h3 data-aos="fade-up"></h3>
                    <p data-aos="fade-up">
                        A Era da Internet das Coisas chega com cada vez mais força
                    </p>
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h4></h4>
                        <p> As apps de realidade virtual vão ser cada vez mais desenvolvidas</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up">
                        <i class="bx bx-receipt"></i>
                        <h4> </h4>
                        <p>As cidades inteligentes vão ser uma realidade</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-cube-alt"></i>
                        <h4></h4>
                        <p> Os serviços cloud passarão a ser mais rápidos e intuitivos</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-cube-alt"></i>
                        <h4></h4>
                        <p> Será ainda mais fácil trabalhar online</p>
                    </div>

                </div>
                <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                    <img src="~/Content/assets/img/mobilenet.jpg" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
