@{
    ViewData["Title"] = "Privacy Policy";
}


<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Política de Privacidade </h2>
            <p>Um dos pilares fundamentais da UPmobile é a responsabilidade com o compromisso da privacidade e da segurança dos nossos clientes.</p>
            <p>Aqui explicamos como recolhemos, usamos, partilhamos e protegemos as suas informações pessoais, quando utiliza os nossos produtos, serviços e o nosso website. </p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Por quanto tempo tratamos e conservamos os seus dados pessoais? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
</a>
                    <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                        <p>
                            A UP vai tratar e manter os seus dados pessoais pelo período em que mantiver uma relação contratual consigo.
                            Sempre que não exista uma obrigação legal específica, então os dados serão tratados apenas pelo período necessário para o cumprimento das finalidades que motivaram a sua recolha e preservação e sempre de acordo com a lei.
                            A UP trata e conserva os seus dados pessoais conforme as finalidades para que os mesmos são tratados.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">O QUE ABRANGE ESTA POLÍTICA DE PROTEÇÃO DE DADOS PESSOAIS? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                        <p>
                           

                            Esta Política de Proteção de Dados Pessoais aplica-se exclusivamente à recolha e tratamento de dados pessoais relativamente aos quais a UPmobile é responsável pelo respetivo tratamento, no âmbito dos serviços e produtos disponibilizados aos seus clientes.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">
    NO QUE CONSISTE O TRATAMENTO DE DADOS PESSOAIS?
    <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
</a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                        <p>
                            O tratamento de dados pessoais consiste numa operação ou conjunto de operações efetuadas sobre dados pessoais ou conjuntos de dados pessoais, através de meios automatizados, ou não, nomeadamente a recolha, o registo, a organização, a estruturação, a conservação, a adaptação, a recuperação, a consulta, a utilização, a divulgação, difusão, comparação, interconexão, a limitação, o apagamento ou a destruição.
                            Dados pessoais são qualquer informação, de qualquer natureza e independentemente do respetivo suporte, incluindo som e imagem, relativa a uma pessoa singular identificada ou identificável.


                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">
    PORQUÊ ESTA POLÍTICA DE PROTEÇÃO DE DADOS PESSOAIS? regras gerais de tratamento de dados pessoais
    <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
</a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                        <p>
                            A UPmobile garante a proteção dos seus dados pessoais, os quais são recolhidos e tratados no estrito respeito e cumprimento do disposto na legislação de proteção de dados pessoais em vigor em cada momento, nomeadamente o Regulamento (UE) 2016/679 do Parlamento Europeu e do Conselho, de 27 de abril de 2016 ("RGPD") e a Lei n.º 58/2019, de 8 de agosto de 2019.
                            A UPmobile cumpre a legislação de proteção de dados pessoais e garante que o tratamento dos dados pessoais é lícito, leal, transparente e limitado às finalidades autorizadas; bem como, todos os demais direitos que assistem aos respetivos titulares.
                            As regras previstas nesta Política de Proteção de Dados Pessoais complementam as disposições, em matéria de proteção e tratamento de dados pessoais, previstas nos contratos que os clientes celebram com a UPmobile, assim como, as regras previstas nos termos e condições que regulam a oferta dos diversos produtos e serviços e que se encontram devidamente publicitadas no website.




                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End F.A.Q Section -->
