@model Promocao

@{
    ViewData["Title"] = "Promoção eliminada";
}

<div class="card2 bg-danger mb-3">
    <div class="card2-body">
        <h5 class="card2-title">Atenção</h5>
        <p class="card-text">A promoção que estava a editar foi eliminada.</p>
    </div>
</div>

<h1>Adicionar novamente A Promoção?</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPromocao" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="DataInicio" class="control-label"></label>
                    <input asp-for="DataInicio" class="form-control" />
                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataFim" class="control-label"></label>
                    <input asp-for="DataFim" class="form-control" />
                    <span asp-validation-for="DataFim" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Preco" class="control-label"></label>
                    <input asp-for="Preco" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Conteudo" class="control-label"></label>
                    <input asp-for="Conteudo" class="form-control" />
                    <span asp-validation-for="Conteudo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Descartar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
