
@{
    ViewData["Title"] = "Promoção inexistente";
}

<main id="main">
    <section>
        <div class="container">
            <div class="card2 bg-warning mb-3">
                <div class="card2-body">
                    <h5 class="card-title">@ViewBag.Title</h5>
                    <p class="card-text">A Promoção que selecionou já não existe. Possivelmente alguém eliminou o mesmo.</p>


                </div>
            </div>
            <div>
                <a class="btn btninfo3" asp-action="Index">
                    Ver lista de Promoções
                </a>
            </div>
        </div>
    </section>
</main>
