
@{
    ViewData["Title"] = "Sucesso";
}

<main id="main">
    <section>
        <div class="container">
            <div class="card2 bg-success mb-3">
                <div class="card2-body">
                    <h5 class="card2-title">@ViewBag.Title</h5>
                    <p class="card-text">@ViewBag.Mensagem</p>
                </div>
            </div>
            <div>
                <a class="btn btninfo3" asp-action="Index">
                    Ver lista de Promoções
                </a>
            </div>
        </div>
    </section>
</main>

